{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This or That!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<header class="site-header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-item">HOME</a></li>
            <li class="nav-item"><a href="#trends" class="nav-item">TRENDS</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/lenixcarter" class="nav-item">CONTACT</a></li>
        </ul>
    </nav>
</header>
<body style="margin: 0">    
    <div class="content">
        <div class="main-box">
            <div class="column">
                {% if error %}
                    <h2>AH, BEANS</h2>
                {% else %}
                <h2>THIS</h2>
                <form method="post">
                    {% csrf_token %}
                    <button class="choice-button" type="submit" name="winner" value="{{ choice1 }}">
                        {{ choice1 }}
                        <input type="hidden" name="loser" value="{{ choice2 }}">
                    </button>
                </form>
            </div>
            <div class="or">OR</div>
            <div class="column">
                <h2>THAT</h2>
                <form method="post">
                    {% csrf_token %}
                    <button class="choice-button" type="submit" name="winner" value="{{ choice2 }}">
                        {{ choice2 }}
                        <input type="hidden" name="loser" value="{{ choice1 }}">
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
